# Cleaning Employee Data with Custom Parsing

In [18]:
import pandas as pd
import numpy as np
import re

## Step 1: Load raw data

In [19]:
df = pd.read_csv("employee_data.csv")

## Step 2: Replace all corrupted characters

In [20]:
df.replace(to_replace=r'\+AC0-', value='-', regex=True, inplace=True)
df.replace(to_replace=r'\+ACO-', value='-', regex=True, inplace=True)

## Step 3: Define a custom parser for corrupted dates

In [21]:
def parse_date(date_str):
    try:
        if isinstance(date_str, str):
            date_str = date_str.replace("+AC0-", "-").replace("+ACO-", "-")
            date_str = re.sub(r"[^\w\-]", "", date_str)  # removing the remaining junk
            for fmt in ("%Y-%m-%d", "%d-%b-%y", "%d-%m-%Y"):
                try:
                    return pd.to_datetime(date_str, format=fmt)
                except:
                    continue
        return pd.NaT
    except:
        return pd.NaT

## Step 4: Apply parser to date columns

In [22]:
for col in ['StartDate', 'ExitDate', 'DOB']:
    df[col] = df[col].apply(parse_date)

## Step 5: Convert numeric columns safely

In [23]:
for col in ['Age', 'Experience', 'Salary']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

## Step 6: Drop rows missing essential fields

In [27]:
df.dropna(subset=['StartDate', 'Age', 'Salary'], inplace=True)
df["ExitDate"] = df["ExitDate"].fillna("Still Working")

## Step 7: Review cleaned data

In [28]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   FirstName                   3000 non-null   object
 2   LastName                    3000 non-null   object
 3   StartDate                   3000 non-null   datetime64[ns]
 4   ExitDate                    3000 non-null   object
 5   EmployeeStatus              3000 non-null   object
 6   EmployeeType                3000 non-null   object
 7   EmployeeClassificationType  3000 non-null   object
 8   DepartmentType              3000 non-null   object
 9   DOB                         3000 non-null   datetime64[ns]
 10  JobFunctionDescription      3000 non-null   object
 11  GenderCode                  3000 non-null   object
 12  Education                   3000 non-null   object
 13  Age                         3000 non-null   int64
 14  Experience                  3000 non-null   int64
 15  Salary                      3000 non-null   int64
 16  Attrition                   3000 non-null   object
dtypes: datetime64[ns](2), int64(4), object(11)
memory usage: 398.6+ KB
None
   EmpID FirstName LastName  StartDate       ExitDate EmployeeStatus  \
0   3427     Uriah  Bridges 2019-09-20  Still Working         Active
1   3428     Paula    Small 2023-02-11  Still Working         Active
2   3429    Edward     Buck 2018-12-10  Still Working         Active
3   3430   Michael  Riordan 2021-06-21  Still Working         Active
4   3431   Jasmine    Onque 2019-06-29  Still Working         Active

  EmployeeType EmployeeClassificationType     DepartmentType        DOB  \
0     Contract                  Temporary  Production        1969-10-07
1     Contract                  Part-Time  Production        1965-08-30
2    Full-Time                  Part-Time              Sales 1991-10-06
3     Contract                  Full-Time              Sales 1998-04-04
4     Contract                  Temporary              Sales 1969-08-29

  JobFunctionDescription GenderCode    Education  Age  Experience  Salary  \
0             Accounting     Female  High School   55           5   33500
1                  Labor       Male     Master's   59           2   37500
2              Assistant       Male  High School   33           6   32000
3                  Clerk       Male     Master's   27           4   45000
4                Laborer     Female     Master's   55           6   49500

  Attrition
0        No
1        No
2        No
3        No
4        No

## Step 8: Save cleaned data

In [29]:
df.to_csv('cleaned_hr_data.csv', index=False)